from django.utils.translation import ugettext_lazy as _

# Services being monitored
MONITORING_SERVICES = [
    {'name': _('OpenStack Services'),
     'groupBy': 'service'},
    {'name': _('Servers'),
     'groupBy': 'hostname'}
]

# Grafana button titles/file names
GRAFANA_LINKS = [
    {'title': 'Dashboard', 'fileName': 'openstack.json'},
    {'title': 'Monasca Health', 'fileName': 'monasca.json'}
]

{% if kibana_support_enabled is defined and kibana_support_enabled %}
KIBANA_HOST = '{{ kibana_url }}'
{% endif %}

MONITORING_SERVICE_TYPE='monitoring'

OPENSTACK_SSL_NO_VERIFY=False
OPENSTACK_SSL_CACERT=None
